appdirs==1.4.4
audioread==2.1.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
Cython==0.29.26
decorator==5.1.1
idna==3.3
importlib-metadata==4.10.0
joblib==1.1.0
librosa==0.8.1
llvmlite==0.37.0
madmom
mido==1.2.10
numba==0.54.1
numpy==1.20.3
opencv
packaging==21.3
pooch==1.5.2
pycparser==2.21
pydub==0.25.1
pyparsing==3.0.6
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==3.0.0
typing_extensions==4.0.1
urllib3==1.26.8
vamp==1.1.0
zipp==3.7.0
